@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
  html {
    font-family: "Inter", sans-serif;
    @apply 
    overflow-hidden
    m-0
    p-0
    w-full
    h-full
    font-light
    text-white
    bg-[#1E1E1E]
    tracking-wider;
  }

  h1 {
    @apply font-light
    text-6xl
    md:text-8xl
    lg:text-9xl;
  }

  h2 {
    @apply text-4xl
    md:text-7xl
    font-normal;
  }

  h3 {
    @apply text-xl
    font-normal;
  }

  p {
    @apply font-thin
    text-sm
    md:text-lg;
  }
}

@layer components {
  .app {
    min-height: 600px;
    min-width: 300px;
    @apply relative
    h-screen;
  }
}
